<h1>register</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">name</label>
        <input type="text" placeholder="name" id="name" name="name" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" placeholder="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">name</label>
        <input type="password" placeholder="password" id="password" name="password" required>
    </div>
    <button type="submit">register</button>
</form>
<a href="/login">login</a>